server:
  port: 8083

app:
  greeting: "Execution service: Hello from Config Server (dev)"
  flavor: "DEV via Config Server"
logging:
  pattern:
    level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"
  level:
    root: INFO
    org.springframework.kafka: INFO
    org.apache.kafka: INFO
spring:
  datasource:
    url: jdbc:postgresql://database:5432/ostock_dev
    username: postgres
    password: postgres
  jpa: 
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
management:
  tracing:
    sampling:
      probability: 1.0 
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans


eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eureka:8070/eureka/ 

