server:
  port: 8072

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eureka:8070/eureka/
logging:
  level:
    root: WARN
spring:
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
          predicates:
            - name: Path
              args:
                pattern: "'/api/'+serviceId+'/**'"
          filters:
            - name: StripPrefix
              args:
                parts: 2
      default-filters:
        - RemoveRequestHeader=Cookie,Set-Cookie
management:
  endpoints:
    web:
      exposure:
        include: "*"
        
        
        