server:
  port: 8082

app:
  greeting: "Planning service: Hello from Config Server (dev)"
  flavor: "DEV via Config Server"
logging:
  level:
    root: INFO
    org.springframework.kafka: INFO
    org.apache.kafka: INFO
spring:
  datasource:
    url: jdbc:postgresql://database:5432/ostock_dev
    username: postgres
    password: postgres
  jpa: 
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: planning-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eureka:8070/eureka/