server:
  port: 8081

app:
  greeting: "Product service: Hello from Config Server (dev)"
  flavor: "DEV via Config Server"
logging:
  level:
    root: WARN
spring:
  datasource:
    url: jdbc:postgresql://database:5432/ostock_dev
    username: postgres
    password: postgres
  jpa: 
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "http://keycloak:9080/realms/mini-mes"

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eureka:8070/eureka/