services:
  database:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "ostock_dev"
    volumes:
        - ./init.sql:/docker-entrypoint-initdb.d/1-init.sql
        - ./data.sql:/docker-entrypoint-initdb.d/2-data.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  config-server:
    build: ../services/config-server           # your config-server Dockerfile
    container_name: config-server
    ports:
      - "8071:8071"
    environment:
      SERVER_PORT: 8071
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:8071/actuator/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 10
    networks:
      backend:
        aliases:
          - "configserver"

  product-service:
    build:
      context: ../services/product-service
    container_name: product-service
    depends_on:
      database:
        condition: service_healthy
      config-server:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://database:5432/ostock_dev
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_DEFER_DATASOURCE_INITIALIZATION: "true"
      SPRING_SQL_INIT_MODE: always
      SPRING_CLOUD_CONFIG_ENABLED: "false"
    ports:
      - "8081:8081"
    networks:
      - backend
networks:
  backend: 

