spring:
  application:
    name: config-server

logging:
  level:
    root: WARN
server:
  port: 8071

management:
  endpoints:
    web:
      exposure:
        include: health,info
  health: 
    configserver:
      enabled: false
eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false